.fullGameBoard {
    position: absolute;
    top: 175px;
    left: 33%;
}

.board {
    float: left;
    /*position: relative;*/
    height: 386px;
    width: 386px;
    border-style: solid;
    border-width: 9px;
    border-color: #DEB887;
}

div.square {
    float: left;
    position: relative;
    width: 46px;
    height: 46px;
    border-width: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #444;
}


/* the bottom row */

div.square:nth-last-child(-n + 8) {
    border-bottom-style: none;
}


/* the sides */

div.square:nth-child(8n) {
    border-right-style: none;
}

div.square.light {
    background-color: #ccc;
}

div.square.dark {
    background-color: #333;
}

div.piece {
    float: left;
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    z-index: 10;
    margin: 6px;
    margin-top: 5px;
}

div.piece.playerOne {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da2708+0,b92215+0,ea3014+54,bd1c07+65,bc210c+92 */
    background: rgb(218, 39, 8);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(218, 39, 8, 1) 0%, rgba(185, 34, 21, 1) 0%, rgba(234, 48, 20, 1) 54%, rgba(189, 28, 7, 1) 65%, rgba(188, 33, 12, 1) 92%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(218, 39, 8, 1) 0%, rgba(185, 34, 21, 1) 0%, rgba(234, 48, 20, 1) 54%, rgba(189, 28, 7, 1) 65%, rgba(188, 33, 12, 1) 92%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(218, 39, 8, 1) 0%, rgba(185, 34, 21, 1) 0%, rgba(234, 48, 20, 1) 54%, rgba(189, 28, 7, 1) 65%, rgba(188, 33, 12, 1) 92%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#da2708', endColorstr='#bc210c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

div.piece.playerTwo {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#83bd07+0,7ea212+0,93cb11+54,77a406+65,78a30b+92 */
    background: rgb(131, 189, 7);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(131, 189, 7, 1) 0%, rgba(126, 162, 18, 1) 0%, rgba(147, 203, 17, 1) 54%, rgba(119, 164, 6, 1) 65%, rgba(120, 163, 11, 1) 92%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(131, 189, 7, 1) 0%, rgba(126, 162, 18, 1) 0%, rgba(147, 203, 17, 1) 54%, rgba(119, 164, 6, 1) 65%, rgba(120, 163, 11, 1) 92%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(131, 189, 7, 1) 0%, rgba(126, 162, 18, 1) 0%, rgba(147, 203, 17, 1) 54%, rgba(119, 164, 6, 1) 65%, rgba(120, 163, 11, 1) 92%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#83bd07', endColorstr='#78a30b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

div.piece.playerOne.king {
    border: 6px solid purple;
    width: 32px;
    height: 32px;
}

div.piece.playerTwo.king {
    border: 6px solid purple;
    width: 32px;
    height: 32px;
}

h1 {
    color: white;
}