body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: url("../assets/images/pattern.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}

h1,
h2,
.orange-text.text-lighten-1 {
    font-family: 'Anton', sans-serif;
}

.jumbotron {
    background: url("../assets/images/logo2.png") no-repeat center center;
    background-size: 40% 100%;
    background-color: inherit;
    height: 20vh;
}

.card-image {
    background: url("../assets/images/friends.JPG") no-repeat center center;
    background-size: cover;
    background-color: inherit;
}

#h2h {
    background: url("../assets/images/boxer.jpg") no-repeat center center;
    background-size: cover;
    background-color: inherit;
}

#chat {
    position: relative;
    float: right;
    display: flex;
    margin-right: -25px;
    margin-top: 6px;
}

#LogInFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 19vh;
}

.btn-large {
    width: 250px;
    margin: 8px;
    font-size: 16px;
}

.btn {
    text-transform: capitalize;
}

.fa-2x {
    margin-right: 10px;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logOutBtn,
#homeBtn,
#gameChatBtn,
#expelBtn,
#leaveBtn,
#rankingsBtn {
    margin: 5px;
}

#gameChatBtn {
    width: 130.8px;
}

a,
a:hover {
    color: orange;
}

input,
textarea {
    margin: 12px 0px 12px 0px;
}

.side-nav .userView .circle {
    margin: 8px;
}

.card .card-reveal {
    height: 101%;
}

Footer.copyrights {
    bottom: 0;
}

#sidenav-overlay,
.modal-overlay {
    opacity: 0 !important;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}